<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" #>
<#@ template debug="true" #>
<#@ output extension=".js" #>
<#@ RobotsLanguage processor="RobotsLanguageDirectiveProcessor" requires="fileName='RobotsLanguage13.rob'" #>


<#
  
  Generator gen = new Generator(RobotModel, this);
  gen.Start();

#>

