<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("b8f6b27d-db17-45f1-89d1-e741bf33667e");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
